@charset "ISO-8859-1";
/* Stylesheet für Math4Juerina */
/* body styles */
/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}


/* Style the top navigation bar */
.topnav {
    display: grid;
    grid-column-gap: 1px;
    width: 100%;
}

.success-colored-div{
    position: absolute; bottom: 0;
    left: 0;
    width: 28px;

}

.left-diagram-div{
    position: absolute;
    bottom: 0;
    position: absolute;
    width: 30px;
    height: 202px;
    border: 1px solid black;

}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Create three equal columns that floats next to each other */
.column.side {
    float: left;
    width: 24%;

    background: lightgray;
}

.column.middel {
    float: left;
    width: 48.75%;

    background: lightgray;
}


/* Clear floats after the columns */
/*
.row:after {
    content: "";
    display: table;
    clear: both;
}
*/
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

.backgroundHeaderFooter{
    background: radial-gradient(red,orange,yellow,green,blue,violet);
}
/* Style the footer */

.index-footer {

    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
    position: relative;
}

.text-position-success{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) rotate(270deg) translate(0, -50%)
}

body {
	background-color: #E0E0E0;

}


/* Überschriften Styles */
h1{
	text-align: center;
	color: black;
}
h3{
    text-align: center;
    color: black;
}

/* div Styles */
#divUserEntry {
	color: black;
	text-align: center;
	position: relative;
	width: 700px;
    margin:  auto auto;
}

#divScroll{
	height:500px;
	width:500px;
	overflow:auto;
    margin: auto auto;
}

#divRef {
	color: red;
	font-size: 80%;
}

/* Label Styles */
#lbltask {
	display: block;
	width: 100px;
}

.login-form {
    width: 50%;
    margin: auto;
}

.play-form {
    width: 50%;
    margin: auto;
}


.centredTable{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*	Class Styles */

	/*die Punktnotaion deklariert in css Styleklassen
	in diesem Beispiel ist klasse so deklariert, dass
	sie einem Table zugeordnet werden kann und alle
	darunter liegenden Zellen (<td>) die Eigenschaften erben */
.centered-cell td {
	text-align: center;
}

.centered-div{
    text-align: center;
}

.position-abmelden{
    right:0;
    position: absolute;
}

.alignColorRight td{
	color: green;
}

.alignColorWrong td{
	color: magenta;
	font-family: cursive;
	font-weight: bold;
}

.digits-table tr td:nth-of-type(1),
.digits-table tr td:nth-of-type(3),
.digits-table tr td:nth-of-type(5){
	text-align: right;
}

.signs-table tr td:nth-of-type(2){
	text-align: center;
	width: 50px
}
.signs-table tr td:nth-of-type(4){
	text-align: center;
	width: 30px;
}

.signs-table tr td:nth-of-type(6){
	text-align: center;
	width: 100px;
}

.last-round + tr:not(.last-round) td {
	padding-top: 20px;
}



.centered-text td{
	text-align: center;
}

