<h1>Rechte Seite</h1>

hier trage ich deine Leistungskurve ein!

<div style="position: relative; height: 200px;">
    <div style="position: absolute; bottom: 0; left: 0; width: 30px; height: 50px; background-color: red"></div>
    <div style="position: absolute; bottom: 0; left: 30px; width: 30px; height: 200px; background-color: green"></div>

    <div style="position: absolute; bottom: 0; left: 90px; width: 30px; height: 200px; border: 1px solid black">
        <div style="position: absolute; bottom: 0; left: 0; width: 28px; height: 170px; background-color: orange">
            <div style="transform: rotate(270deg) translate(-70px, 0)">170%</div>
        </div>
    </div>
</div>