<html lang="de" xmlns:th="http://www.thymeleaf.org">
    <h1 >Erfolge der letzten 5 Runden heute</h1>

    <p>hier trage ich deine Leistungskurve ein! <br></p>

    <div style="position: relative; height: 200px;">
        <div th:each="listElement,iterStat:${fiveRoundRefletkionRightList} " class="left-diagram-div" th:style="'left:' + ${iterStat.index * 35 + 10}+ 'px'">
            <div class="success-colored-div" th:style="'height:'+(${listElement * 2}+'px') + ';' + 'background-color:'+ ((${listElement} > '90')?  'green': ((${listElement} >= '50')?  'yellow': 'red'))+';'"></div>
            <div style="position: absolute; top: 50%; transform: translate(0, -50%) rotate(270deg) ">
                <span th:text="${listElement} +'%'"></span></div>
        </div>
    </div>
</html>